body { background-color: #56789a; margin: 0px 0px 0px 0px; color: #ffffff; font-family: 'Tahoma,Verdana,Arial'; font-size: 12 px; }
.navlink { color: #ffff00; font-weight: bold; font-size: 11 px; };
a { color: #ffff00; font-size: 12px; };
a:hover { text-decoration: none; }
a.sml { font-size: 10 px; };
.menulink { color: #ffff00; };
TABLE.tab1 { background: #234567; };
TR.tab2 { background: #010080; font-size: 12 px; };
.tab3 { background: #0f0f0f; font-size: 12 px; font-weight: bold; };
.tab4 { background: #010080; };
TABLE.tab5 { background: #f0ffff; };
.tn { font-size: 12 px; font-weight: bold; };
.text { font-size: 12 px; color: #ffffff; };
.fnormal, .fheading { color: #ffffff; };
